name: Build & Release APK

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Java (required for Android builds)
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter (compatible with Dart 3.4 and above)
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.3"
          cache: true

      - name: Install dependencies
        run: flutter pub get
        working-directory: mobile

      - name: Build APK
        run: flutter build apk --release
        working-directory: mobile

      - name: Upload APK to Release
        uses: softprops/action-gh-release@v1
        with:
          files: mobile/build/app/outputs/flutter-apk/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
